<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>
    <main>     
        <div class='resetpassword'>
            <h1>Reset your password</h1> <br>
            <% if(error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>

            <form action="/resetpassword/<%= user._id %>?_method=put" method="post">
                <label for="oldpassword">Enter your old oldpassword</label> <br>
                <input type="oldpassword" name="oldpassword"  id="oldpassword"><br> <br>

                <label for="newpassword">Enter New Password</label> <br>
                <input type="newpassword" name="newpassword"  id="newpassword"><br> <br>
           
                <button type="submit">edit</button>
                <button> <a href="/profile">cancel</a></button>           
            </form>      
        </div>
    </main>
    
</body>
</html>
