<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../partials/forgotnavbar.ejs') %>
    </header>
    <main>
        <div class='for_password'>
            <% if(error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <form action="/forgot-password/<%= _id %>" method="post">
                <label for="password">New Password</label> <br>
                <input type="password" name="password"  id="password"><br> <br>

                <label for="confirmPassword">confirmPassword</label> <br>
                <input type="confirmPassword" name="confirmPassword"  id="confirmPassword"><br> <br>

                <button type="submit">submit</button>
                <button> <a href="/login">cancel</a></button>
            </form>      
        </div>
    </main>  
</body>
</html>